.test-1 {
  width: 200px;
}
.test-2 {
  height: 400px;
}
.test-2:hover {
  color: #f00;
  transition-delay: 0s;
  transition-duration: 10s;
  transition-property: color;
  transition-timing-function: ease-in;
}
